*{font-family: "微软雅黑", arial, helvetica, sans-serif;}
a:HOVER{text-decoration: none;}
.center{text-align: center;}
.footer{text-align: center;color: #999;font-family: arial,helvetica,sans-serif;font-size:12px;padding-bottom: 5px;}
.placeholder{color:#999;}